
#toolbar-item-administration-tray nav li { padding: 0; }
#toolbar-item-administration-tray a {
	font-size: 0.8125rem;
	text-transform: none;
}

#block-subtheme-local-tasks:before, #block-subtheme-local-tasks:after { content: none !important; }

#block-subtheme-local-tasks { 
	border: none !important;
	left: 0;
	padding: 0 !important;
	position: fixed !important;
	top: 30%;
	z-index: 109;
}

#block-subtheme-local-tasks .button-group {
	display: block;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#block-subtheme-local-tasks .button-group:not(:hover) {
	opacity: .3;
	filter: alpha(opacity=30);
    -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

#block-subtheme-local-tasks .button-group a {
	width: 100%;
}

/* messages */

#messages {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index:101;
}

#messages .alert-box {
    margin: 0;
    min-width: 25vw;
    text-align: left;	
}

#messages .alert-box:not(:last-child) {
	margin-bottom: .5rem;
}

.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.72222rem;
    font-weight: normal;
    margin-bottom: 1.11111rem;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    position: relative;
    -webkit-transition: opacity 300ms ease-out;
    		transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF;
}

.alert-box.success {
    background-color: #43AC6A;
    border-color: #3a945b;
    color: #fff;
}

.alert-box.warning {
    background-color: #f08a24;
    border-color: #de770f;
    color: #fff;
}

.alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}

.alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #fff;
}

.alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f;
}

.alert-box .close {
    right: 0.22222rem;
    background: inherit;
    color: #333333;
    font-size: 1.22222rem;
    line-height: .9;
    margin-top: -0.61111rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%;
}

.alert-box.fade-out {
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
	-webkit-transition: opacity 1.3s ease-in-out, height 0s linear 1.3s;
	transition: opacity 1.3s ease-in-out, height 0s linear 1.3s;
}


#toolbar-administration a { font-weight: 600; } 